---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
---

<Layout title="La Pasteleria de La Postreria 77">
  <header class="bg-dark text-light min-h-screen pl-16 flex items-center">
    <div class="flex flex-col gap-2 items-start">
      <h1 class="uppercase font-bold text-4xl">
        Pastelerías de <span class="text-brand">calidad</span>.
      </h1>
      <p class="max-w-prose text-balance leading-loose">
        Encuentra toda la variedad de pasteles de los restaurantes de La
        Postreria 77, productos exclusivos de La Pastelería, y artículos para
        decorar tus pasteles.
      </p>
      <Button icon="arrow">Ver Menú</Button>
    </div>
  </header>
  <section class="h-80"></section>
  <section class="min-h-screen bg-light p-page">
  </section>
  <section class="h-96"></section>
  <section class="min-h-screen bg-light"></section>
</Layout>
