---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.jsx';
import Navbar from '../components/Navbar.astro';

---

<Layout title="La Pasteleria de La Postreria.">
	<Navbar />
	<main>
		<header>
			<div class="header-outline"/>
		</header>
		<!-- <Slider client:load /> -->
	</main>
</Layout>

<style>
	header {
		position: relative;
		min-height: 100dvh;
		width: 100%;
	}
	.header-outline {
		position: absolute;
		inset: calc(var(--page-padding) / 2);
		border: 1px solid ;
	}
</style>
