---
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Pasteleria de La Postreria 77">
  <header class="bg-dark text-light min-h-screen pl-12 flex items-center">
    <div class="flex flex-col gap-2">
      <h1 class="uppercase font-bold text-4xl">
        La Pastelería de La Postreria 77
      </h1>
      <p class="max-w-prose text-balance leading-loose">
        Encuentra toda la variedad de pasteles de los restaurantes de La
        Postreria 77, productos exclusivos de La Pastelería, y artículos para
        decorar tus pasteles.
      </p>
    </div>
  </header>
  <section class="h-80"></section>
  <section class="min-h-screen bg-light"></section>
  <section class="h-96"></section>
  <section class="min-h-screen bg-light"></section>
</Layout>
