---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Menú" description='Consulta nuestro menú y descubre tu nuevo postre favorito.'>
  <header class="p-page bg-dark text-light min-h-screen">
    <div class="flex flex-col">
      <h1 class="text-5xl font-bold uppercase text-right">Menú</h1>
      <h2 class="font-bold text-2xl uppercase">Pasteles</h2>
    </div>
  </header>
</Layout>
