---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <header class="p-page bg-dark text-light">
    <h1>Menú</h1>
    <p>Actualmente en desarrollo. Vuelve pronto para descubrir tu nuevo postre favorito.</p>
  </header>
</Layout>
