---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Animation test"
  description="Test for Rive Animation implementation."
>
  <main
    class="m-pagb flex flex-col gap-12 min-h-screen items-center justify-center bg-dark px-page text-light"
  >
    <h1>Rive Animation</h1>
    <canvas id="mobileMenu" class="size-8"></canvas>
  </main>
</Layout>

<script src="../utils/mobileMenu.js"></script>
