---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Animation test"
  description="Test for Rive Animation implementation."
>
  <main
    class="m-pagb flex min-h-screen flex-col items-center justify-center gap-12 bg-dark px-page text-light"
  >
    <h1>Rive Animation</h1>
    <canvas id="mobileMenu" class="size-8"></canvas>
  </main>
</Layout>

<script src="../utils/mobileMenu.js"></script>
<script>
  const menuButton = document.getElementById("menuButton");
  menuButton.addEventListener("click", () => {
    console.log("clicked");
  });
  console.log(menuButton);
</script>
