.tab-buttons-holder {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.tab-button {
  background: transparent;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  font-weight: 300;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.tab-button:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
  color: #fff;
  transform: translateY(-2px);
}
.active-tab-button {
  background: #fff;
  color: #000;
  border: 1px solid transparent;
}
.active-tab-button:hover {
  background: #fff;
  color: #000;
}
swiper-container::part(wrapper) {
  display: flex;
  align-items: stretch;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: red;
}
swiper-slide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  height: auto;
}
swiper-slide img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
}
swiper-slide p {
  font-size: 0.8rem;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.6);
}

.slide-comp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.02);
  flex-grow: 1;
}
