---
//Component Imports
import { Icon } from "astro-icon/components";
import Navlink from "../components/ui/Navlink.astro";

//Functions
const currentYear = new Date().getFullYear();
---

<footer id="contacto" class="p-2 sm:p-4 relative z-50">
  <div class="border border-dark py-16 px-page sm:p-page flex flex-col gap-16 sm:gap-8">
    <!--Main links and vertical logo-->
    <div class="flex flex-col sm:flex-row gap-8 items-center">
      <Icon name="logo-vertical" class="h-28 w-20 text-dark" />
      <div class="flex flex-col gap-4">
        <h4 class="text-center sm:text-left font-medium text-2xl">Información de Contacto</h4>
        <ul class="flex gap-8 flex-wrap justify-center sm:justify-start">
          <Navlink
            href="/"
            icon="mail"
            text="Mercadotecnia"
            intent="secondary"
          />
          <Navlink
            href="/"
            icon="mail"
            text="Facturaciones"
            intent="secondary"
          />
          <Navlink href="/" icon="mail" text="Compras" intent="secondary" />
          <Navlink
            href="/"
            icon="mail"
            text="Recursos Humanos"
            intent="secondary"
          />
          <Navlink
            href="/"
            icon="phone"
            text="Facturación"
            intent="secondary"
          />
          <Navlink
            href="/"
            icon="arrow"
            text="Aviso de Privacidad"
            intent="secondary"
          />
        </ul>
      </div>
    </div>
    <!--Line separator-->
    <span class="h-[1px] bg-dark" aria-hidden="true"></span>
    <!--Social Media and Rights-->
    <div class="flex flex-col sm:flex-row  justify-between gap-8 items-center">
      <ul class="flex gap-8">
        <li><a href="https://www.facebook.com/lapasteleria77/" target="_blank"><Icon name="socials/facebook" class="size-8" /></a></li>
        <li>
          <a href="https://www.instagram.com/lapasteleriadelapostreria77/" target="_blank"><Icon name="socials/instagram" class="size-8" /></a>
        </li>
        <li>
          <a href="https://www.messenger.com/t/lapasteleria77/" target="_blank"><Icon name="socials/messenger" class="size-8" /></a>
        </li>
        <li><a href="https://www.tiktok.com/@lapasteleriadelapostre" target="_blank"><Icon name="socials/tiktok" class="size-8" /></a></li>
        <li><a href="https://x.com/lapasteleria77" target="_blank"><Icon name="socials/x" class="size-8" /></a></li>
      </ul>
      <span class="text-center sm:text-left font-light opacity-60 text-sm leading-relaxed"
        >Todos los derechos Reservados. La Pasteleria de la Postreria 77® {
          currentYear
        }</span
      >
    </div>
  </div>
</footer>
