---
import Location from "../components/Location.astro";

//Asset imports
import parqueCentro from "../assets/locations/parque-centro.png";
import herradura from "../assets/products/charol.webp";
---

<div class="">
  <menu id="tab-buttons" class="">
    <li>
      <button
        class=""
        aria-label="parque-centro"
        >Parque Centro (Saltillo)</button
      >
    </li>
    <li>
      <button
        class="px-6 py-4 bg-opacity-0 bg-brand border border-dark leading-none text-xl hover:bg-opacity-35 transition duration-300 ease-out hover:translate-y-[-2px]"
        aria-label="herradura"
        >Monterrey (Herradura)</button
      >
    </li>
  </menu>
    <Location
      image={parqueCentro}
      address="Edificio MAIA, Blvd. Parque Centro #1425 local CM-A Parque Centro, 25240. Saltillo, Coahuila."
      phone="81 2474 8801"
      hours={[
        "Lunes a Sabado /  9:00 - 20:00 hrs.",
        "Domingo  /  10:00 - 19:00 hrs.",
      ]}
    />
    <Location
      image={herradura}
      address="Carretera Nacional 1000 A, Esq. Portal del Huajuco Col. La Herradura Carretera Nacional 67140 Monterrey, Nuevo León."
      phone="81 2474 8801"
      hours={[
        "Lunes a Sábado 8am a 10pm",
        "Domingo 10am a 7pm",
        "Rappi 10am a 10pm",
      ]}
    />
</div>
