---
import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";

interface Props {
  image: ImageMetadata;
  name: string;
}

const { image, name } = Astro.props;
---

<li>
  <a href="/menu" class="flex-shrink-0 flex flex-col items-center gap-8 w-72">
  <Image src={image} alt={name} class="aspect-[7/8]"/>
  <h4 class="font-medium uppercase">{name}</h4>
  </a>
</li>
