---

---

<li class="flex flex-col gap-4">
  <div class="aspect-square bg-brand-2"></div>
  <div> 
    <h3 class="text-xl font-medium">Nombre del producto</h3>
    <p class="text-sm opacity-60">Aquí la descripción del producto.</p>
  </div>
</li>
