---
interface Props {
  name: string;
  description: string;
  tradicional?: boolean;
  anytime?: boolean;
  rebanadaAnytime?: boolean;
}

const {name, description} = Astro.props;
---

<li class="flex flex-col gap-4">
  <div class="aspect-square bg-brand-2"></div>
  <div> 
    <h3 class="text-xl font-medium">{name}</h3>
    <p class="text-sm opacity-60">{description}</p>
  </div>
</li>
