---
import { Icon } from "astro-icon/components";

import { Image } from "astro:assets";
import logo from "../assets/logo-h.svg";

const links = [
  {
    label: "Menú",
    url: "/menu",
  },
  {
    label: "Ubicaciones",
    url: "/#ubicaciones",
  },
  {
    label: "Facturación",
    url: "/",
  },
  {
    label: "Contacto",
    url: "/#contacto",
  },
];
---

<nav class="py-12 px-16">
  <div class="flex items-center justify-between">
    <a href="/">
    <Icon name="logo" class="h-20 w-48 text-dark" />
    </a>
    <menu class="flex gap-8 items-center">
      {
        links.map((link) => (
          <li>
            <a href={link.url}>{link.label}</a>
          </li>
        ))
      }
      <div class="h-6 w-[2px] bg-dark"></div>
      <li>
        <a href="https://lapostreria77.com">La Postreria 77</a>
      </li>
    </menu>
  </div>
</nav>
