---
const links = [
    {
        label: 'Nosotros',
        url: '/',
    },
    {
        label: 'Productos',
        url: '/',
    },
    {
        label: 'Sucursales',
        url: '/',
    },
    {
        label: 'Contacto',
        url: '/',
    },
]
---

<nav class="nav">
    <div class="container nav-container">
        <div class="logo-holder">
            <img src="logo.svg" alt="Logo de la marca" class="logo">
            <h1 id="main-title">*Pasteles, Panqués y Artículos de Fiesta</h1>
        </div>
        <ul>
           
            {links.map((link) => (
        <li>
            <span>→</span>
            <a href={link.url}>{link.label}</a>
        </li>
    ))}
        </ul>
    </div>
</nav>

<style>
    nav {
        position: fixed;
        z-index: 100;
        width: 100%;
    }
    .nav-container {
        display: flex;
        padding-left: calc(var(--page-padding) * 1.25);
        padding-right: calc(var(--page-padding) * 1.25);
        justify-content: space-between;
        align-items: start;
    }
    .logo-holder {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 0;
        position: relative;
    }
    .logo {
        width: 28rem;
    }

    h1 {
        font-size: 1rem;
        position: absolute;
        bottom: -2.5rem;
    }
    ul, li, span, a{
        transition: opacity 0.2s ease-in-out;
    }
    ul {
        display: flex;
        align-items: start;
        gap: 3rem;
        list-style: none;
        overflow: visible;
    }
    ul:hover li:not(:hover) {
        opacity: 0.5;
    }
    li {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        cursor: pointer;
        opacity: 0.85;
        transition: all 0.2s ease-out;
    }
    li:hover {
        opacity: 1;
        transform: translateY(-2px);
    }
    li:hover span {
        display: block;
    }
    span {
        display: none;
        position: absolute;
        left: -1.5rem;
        font-size: 1rem;
    }
    a {
        text-decoration: none;
        color: hsl(var(--light-1));
        font-weight: 300;
        font-size: 1.25rem;
    }
</style>