---
const links = [
  {
    label: "Nosotros",
    url: "/#about",
  },
  {
    label: "Productos",
    url: "/#products",
  },
  {
    label: "Sucursales",
    url: "/#locations",
  },
  {
    label: "Contacto",
    url: "/#contact",
  },
];
---

<nav>
  
</nav>
