---
import { Icon } from "astro-icon/components";
import Navlink from "./ui/Navlink.astro";

const links = [
  {
    label: "Menú",
    url: "/menu",
  },
  {
    label: "Ubicaciones",
    url: "/#ubicaciones",
  },
  {
    label: "Facturación",
    url: "/",
  },
  {
    label: "Contacto",
    url: "/#contacto",
  },
];
---

<nav class="pb-6 pt-8 px-16">
  <div class="flex items-center justify-between">
    <a href="/">
    <Icon name="logo" class="h-14 w-36 text-dark" />
    </a>
    <menu class="flex gap-8 items-center">
      {
        links.map((link) => <Navlink href={link.url} text={link.label} />)
      }
      <div class="h-6 w-[2px] bg-dark"></div>
      <Navlink href="https://lapostreria77.com" text="La Postreria 77" />
    </menu>
  </div>
</nav>
