---
import { Icon } from "astro-icon/components";
import Navlink from "./ui/Navlink.astro";

const links = [
  {
    label: "Menú",
    url: "/menu",
  },
  {
    label: "Ubicaciones",
    url: "/#ubicaciones",
  },
  {
    label: "Facturación",
    url: "/",
  },
  {
    label: "Contacto",
    url: "#contacto",
  },
];
---

<!-- <script src="../utils/mobileMenu.js"></script>-->
<nav
  class="sticky left-0 right-0 top-0 z-50 w-full bg-brand px-page py-4 pt-4 sm:pb-6 sm:pt-8 lg:px-16"
>
  <div class="flex items-center justify-between">
    <a href="/">
      <Icon
        name="logo"
        class="relative z-50 aspect-[14/5] h-full w-24 origin-top-left sm:w-32 lg:w-36"
        id="navLogo"
      />
    </a>
    <menu
      id="navMenu"
      class="fixed inset-0 z-30 flex h-full w-full -translate-y-full flex-col items-center justify-center gap-6 bg-brand sm:relative sm:h-auto sm:w-auto sm:-translate-y-0 sm:flex-row sm:gap-4 sm:bg-opacity-0 lg:gap-8"
    >
      {links.map((link) => <Navlink href={link.url} text={link.label} />)}
      <Icon name="separator" aria-hidden="true" class="rotate-90 sm:rotate-0" />
      <Navlink href="https://lapostreria77.com" text="La Postreria 77" />
    </menu>
    <button id="menuButton" class="block sm:hidden">
      <canvas id="menuCanvas" class="relative z-50 block size-8 sm:hidden"
      ></canvas>
    </button>
  </div>
</nav>
