---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  description: string;
  image: string;
  tradicional: boolean;
  anytime: boolean;
  rebanadaAnytime: boolean;
}

const { name, description, image, tradicional, anytime, rebanadaAnytime } =
  Astro.props;
---

<li class="flex flex-col gap-4">
  <Image src={image} alt={name} class="aspect-square" width={900} height={900}/>
  <div>
    <div class="flex flex-col gap-1 sm:gap-2 mb-2 sm:mb-4 opacity-60">
      <div class="flex items-bottom gap-1">
        <Icon name="cake" class="size-3 sm:size-4 mr-1 sm:mr-2" />
        { tradicional && <span class="text-xs sm:text-sm">Tradicional</span> }
        { tradicional && anytime && <span class="text-xs sm:text-sm">y</span>}
        { anytime && <span class="text-xs sm:text-sm">Anytime</span> }
      </div>
      { rebanadaAnytime &&
      <div class="flex items-bottom gap-1">
        <Icon name="slice" class="size-3 sm:size-4 mr-1 sm:mr-2" />
        <span class="text-xs sm:text-sm">Rebanada Anytime</span>
      </div>
      }
    </div>
    <h3 class="text-base lg:text-xl font-medium">{name}</h3>
    <p class="text-xs lg:text-sm opacity-60">{description}</p>
  </div>
</li>
