/* Objectiviy Font Family Import (Medium & Normal)*/
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/objectivity-light.otf") format("otf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/objectivity-medium.otf") format("otf");
  font-weight: medium;
  font-style: normal;
}
