/* Objectiviy Font Family Import (Medium & Normal)*/
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Light.otf") format("otf");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Medium.otf") format("otf");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Regular.otf") format("otf");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
