---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* Color Palette */
		--dark: 0, 0%, 6%;
		--light-1: 0, 0%, 90%;
		/* Spacing Scales */
		--page-padding: 3rem;
	}
	html {
		font-family: system-ui, sans-serif;
		background: hsl(var(--dark));
		color: hsl(var(--light-1));
	}
	body {
		margin: 0;
		width: 100%;
		overscroll-behavior: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		margin: unset;
	}
	h1 {
		font-size: 3.5rem;
		text-transform: uppercase;
	}
	p {
		line-height: 2;
		margin: unset;
	}
	.container {
		margin: 0 auto;
		padding: var(--page-padding);
	}
</style>
