---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: "La Pastelería de La Postreria",
          type: "website",
          image: "https://lapasteleriadelapostreria.com/webclip.png",
        },
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../fonts.css" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="overflow-x-clip bg-brand font-body">
    <div class="fixed left-0 right-0 top-0 z-30 h-4 w-full bg-brand"></div>
    <Navbar />
    <slot />
    <Footer />
    <div class="fixed bottom-0 left-0 right-0 z-30 h-2 w-full bg-brand sm:h-4">
    </div>
    <style is:global>
      :root {
        /* Spacing Scales */
        --page-spacing: var(--mobile-spacing);
        @media (min-width: 640px) {
          --page-spacing: var(--tablet-spacing);
        }
        @media (min-width: 1024px) {
          --page-spacing: var(--desktop-spacing);
        }
        --desktop-spacing: 3rem;
        --tablet-spacing: 2rem;
        --mobile-spacing: 1rem;
      }

      /* Objectiviy Font Family Import (Medium & Normal)*/
      @font-face {
        font-family: "Objectivity";
        src: url("/fonts/Objectivity-Light.otf") format("OpenType");
        font-weight: light;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Objectivity";
        src: url("/fonts/Objectivity-Medium.otf") format("OpenType");
        font-weight: medium;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Objectivity";
        src: url("/fonts/Objectivity-Regular.otf") format("OpenType");
        font-weight: regular;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Objectivity";
        src: url("/fonts/Objectivity-Bold.otf") format("OpenType");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
