---
import { type HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { Icon } from "astro-icon/components";

const button = cva(
  [
    "text-sm",
    "leading-none",
    "font-medium",
    "border",
    "px-4",
    "pb-3",
    "pt-[14px]",
    "flex",
    "items-center",
    "gap-[6px]",
    "hover:gap-2",
    "hover:translate-y-[-2px]",
    "hover:shadow-md",
    "transition-all",
    "duration-300",
    "ease-out",
    "uppercase",
    "group",
  ],
  {
    variants: {
      intent: {
        primary: [
          "bg-brand-2",
          "text-light",
          "border-brand",
          "hover:bg-brand",
          "hover:text-dark",
        ],
        secondary: ["bg-brand", "text-dark", "border-brand-2", "hover:bg-brand-2", "hover:text-light"],
      },
    },
  },
);

export interface Props
  extends HTMLAttributes<"a">,
    VariantProps<typeof button> {
  href?: string;
  newTab?: boolean;
  arrow?: boolean;
}

const { intent = "primary", href, arrow, newTab} = Astro.props;

const target = newTab ? "_blank" : "_self";
---

<a href={href} target={target} class={button({ intent })}>
  <slot />
  {arrow && <Icon name="arrow" class="size-5 group-hover:scale-105 transition duration-500 ease-out origin-left" />}
</a>
