---
import { type HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { Icon } from "astro-icon/components";

const link = cva(
  [
    "leading-relaxed",
    "flex",
    "gap-1",
    "items-center",
    "transition-all",
    "duration-300",
    "ease-out",
    "text-dark",
    "group",
    "hover:translate-y-[-2px]",
  ],
  {
    variants: {
      intent: {
        primary: [],
        secondary: ["opacity-60", "hover:opacity-100"],
      },
    },
  },
);

export interface Props extends HTMLAttributes<"li">, VariantProps<typeof link> {
  text: string;
  href: string;
  icon?: string;
}

const { intent = "primary", icon, href, text } = Astro.props;
---

<li class={link({ intent })}>
  <a href={href}>
    {text}
  </a>
  {
    icon && (
      <Icon
        name={icon}
        class="size-4 group-hover:translate-x-1 transition duration-500 ease-out"
      />
    )
  }
</li>
